<template>
  <div class="container mt-4">
    <h4>Data D'Paragon {{test}}</h4>
    <form @submit.prevent="add_hotel" method="post">
      <div class="form-group">
        <label for="email">name</label>
        <input type="text" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pcity">city:</label>
        <select  id="pcity">
          <option v-for="data in data_city" :value="data.id">{{data.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="address">address:</label>
        <textarea class="form-control" id="address" style="width: 200px;height: 100px"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</template>

<script>

  import axios from 'axios';
    export default {
      name:'app',
      data(){
        return{
          "data_city":[]
        }
      },
      methods:{
        getcity:function () {
          axios.get("https://scrap.dparagon.com/city/allCity", {'dataType': 'jsonp' })
            .then((response)  =>  {
              this.data_city=response.data;
            }, (error)  =>  {
              this.loading = false;
            })
        },
        add_hotel:function () {
          axios.post('https://scrap.dparagon.com/api/hotel/', {
            headers: {
              'dataType': 'jsonp',
            },
            body: this.name,
          });
        }
      },
      beforeMount(){
        this.getcity();
      }
    }
</script>

<style scoped>

</style>
