<template>


    <div class="container mt-4">
      <h4>Data D'Paragon {{test}}</h4>

       <button v-on:click="getdata" type="button" class="btn btn-primary">Refresh</button>
      <button type="button" class="btn btn-success"><a href="/add">Add</a></button>

    <br>
    <br>
      <table class="table table-dark">
        <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama</th>
          <th scope="col">City</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody v-for="data in data_city" :key="data.id">
        <tr>
          <th >{{data.id}}</th>
          <td>{{data.name}}</td>
          <td>{{data.city.name}}</td>
          <td>{{data.address}}</td>
          <td>
            <button type="button" class="btn btn-warning text-white"><a :href="'/edit/'+data.id">Edit</a></button>
            <button type="button" class="btn btn-danger  text-white"><a :href="'/delete/'+data.id">Delete</a></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
</template>

<style>
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: white;
    text-decoration: none;
  }
</style>

<script>
  import axios from 'axios';
  export default {
    name:'app',
    data(){
      return{
        "data_city":[]
      }
    },
    methods:{
      getdata:function () {
        axios.get("https://scrap.dparagon.com/api/hotel", {'dataType': 'jsonp' })
          .then((response)  =>  {
            this.data_city=response.data.data;
          }, (error)  =>  {
            this.loading = false;
          })
      }
    },
    beforeMount(){
      this.getdata();
    }

  }
</script>
